// Light Theme
$top-color: rgb(196, 65, 135);
$bottom-color: rgb(238, 145, 87);
$circle-body-color: rgb(158, 69, 86);
$svg-opacity: 0.15;

// Dark Theme
$top-color-dark: rgb(27, 17, 121);
$bottom-color-dark: rgb(86, 35, 150);
$circle-body-color-dark: rgb(34, 18 , 94);
$svg-opacity-dark: 0.4;
